insmod all_video
set default=0
set timeout=30
set timeout_style=menu

if [ -s $prefix/grubenv ]; then
  load_env
fi

menuentry "DefendOS Live – Mode Complet (GUI)" --class defendos --class gnu-linux {
    set gfxpayload=keep
    linux /%INSTALL_DIR%/boot/x86_64/vmlinuz-linux archisobasedir=%INSTALL_DIR% archisolabel=%ARCHISO_LABEL% \
          quiet splash loglevel=3 rd.udev.log_priority=3 vt.global_cursor_default=0 \
          systemd.unified_cgroup_hierarchy=1
    initrd /%INSTALL_DIR%/boot/x86_64/initramfs-linux.img
}

menuentry "DefendOS Live – Mode Console (no-GUI)" --class defendos {
    set gfxpayload=keep
    linux /%INSTALL_DIR%/boot/x86_64/vmlinuz-linux archisobasedir=%INSTALL_DIR% archisolabel=%ARCHISO_LABEL% \
          systemd.unit=multi-user.target quiet loglevel=3
    initrd /%INSTALL_DIR%/boot/x86_64/initramfs-linux.img
}

menuentry "DefendOS Live – Mode forensic (ram uniquement, noswap)" --class defendos {
    set gfxpayload=keep
    linux /%INSTALL_DIR%/boot/x86_64/vmlinuz-linux archisobasedir=%INSTALL_DIR% archisolabel=%ARCHISO_LABEL% \
          noswap forensic mem_sleep_default=s2idle quiet loglevel=3
    initrd /%INSTALL_DIR%/boot/x86_64/initramfs-linux.img
}

menuentry "Mémoire RAM – Memtest86+" --class memtest {
    linux /memtest86+/memtest.bin
}

menuentry "Redémarrer" {
    reboot
}

menuentry "Éteindre" {
    halt
}
